openapi: 3.2.0
info:
  title: Graphadvocate Com Kalshi API
  version: 1.0.0
  contact:
    name: Graph Advocate
    url: https://graphadvocate.com
  description: 'Operations tagged Kalshi across 2 of this provider''s published API definitions: graphadvocate-com-openapi.json, graphadvocate-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://graphadvocate.com
tags:
- name: Kalshi
paths:
  /kalshi/consensus-trend:
    post:
      operationId: kalshiConsensusTrend
      summary: Kalshi consensus-probability trajectory
      description: 'Kalshi consensus-probability trajectory: slope, acceleration, volatility band derived from Kalshi-unique forecast_history.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.05'
      tags:
      - Kalshi
    servers:
    - url: https://graphadvocate.com
  /kalshi/sports-live-edge:
    post:
      operationId: kalshiSportsLiveEdge
      summary: Live sports mispricing detector
      description: 'Live sports mispricing detector: play-by-play momentum vs market candlestick reaction; flags latency-arb windows.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.05'
      tags:
      - Kalshi
    servers:
    - url: https://graphadvocate.com
externalDocs:
  description: LLM-readable docs (llmstxt.org convention)
  url: https://graphadvocate.com/llms.txt
x-refined-from:
- graphadvocate-com-openapi.json
- graphadvocate-com-openapi.yml
x-discovery:
  ownershipProofs: []
  agent:
    name: Graph Advocate
    ens: graphadvocate.eth
    erc8004: 'Agent #734 on Arbitrum'
    wallet: '0x0FF5A6ecef783BBA35463ec2F8403B9B5e9e7C86'
    llms_txt: https://graphadvocate.com/llms.txt
    capabilities: https://graphadvocate.com/agents/capabilities.json
x-llms-txt: https://graphadvocate.com/llms.txt
x-agents-index: https://graphadvocate.com/agents/index.json
