openapi: 3.2.0
info:
  title: Graph Advocate Hyperliquid API
  version: 1.0.0
  description: Claude-powered routing agent for The Graph Protocol. Send a plain-English onchain data request and receive a ready-to-execute GraphQL query, the right subgraph ID, and an MCP/npm install hint.
  contact:
    name: Graph Advocate
    url: https://graphadvocate.com
servers:
- url: https://graphadvocate.com
tags:
- name: Hyperliquid
paths:
  /hyperliquid/fills:
    post:
      operationId: hyperliquidFills
      summary: Recent Hyperliquid perp fill stream
      description: 'Recent Hyperliquid perp fill stream: the last N fills with direction, price, size, notional, fee and trader address, plus an aggregate buy/sell notional split and a whale-fill count for fills over $10k.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.02'
      tags:
      - Hyperliquid
  /hyperliquid/pnl:
    post:
      operationId: hyperliquidPnl
      summary: Full Hyperliquid trader dossier
      description: 'Full Hyperliquid trader dossier: skill metrics plus open positions and recent fills.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.05'
      tags:
      - Hyperliquid
  /hyperliquid/risk:
    post:
      operationId: hyperliquidRisk
      summary: Hyperliquid counterparty risk
      description: 'Hyperliquid counterparty risk: liquidation rate, funding burn, recent-outflow flag.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.02'
      tags:
      - Hyperliquid
  /hyperliquid/score:
    post:
      operationId: hyperliquidScore
      summary: Composite skill_score 0-100 for a Hyperliquid perps trader
      description: 'Composite skill_score 0-100 for a Hyperliquid perps trader: classification, liquidation rate, funding burn, profit factor.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.02'
      tags:
      - Hyperliquid
  /hyperliquid/screen:
    post:
      operationId: hyperliquidScreen
      summary: Top N traders of a Hyperliquid coin, each scored sharp/neutral/retail
      description: Top N traders of a Hyperliquid coin, each scored sharp/neutral/retail.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.05'
      tags:
      - Hyperliquid
  /hyperliquid/vault:
    post:
      operationId: hyperliquidVault
      summary: Hyperliquid vault evaluator
      description: 'Hyperliquid vault evaluator: leader skill, depositor concentration, redemption pressure.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.10'
      tags:
      - Hyperliquid
externalDocs:
  description: LLM-readable docs (llmstxt.org convention)
  url: https://graphadvocate.com/llms.txt
x-discovery:
  ownershipProofs: []
  agent:
    name: Graph Advocate
    ens: graphadvocate.eth
    erc8004: 'Agent #734 on Arbitrum'
    wallet: '0x0FF5A6ecef783BBA35463ec2F8403B9B5e9e7C86'
    llms_txt: https://graphadvocate.com/llms.txt
    capabilities: https://graphadvocate.com/agents/capabilities.json
x-llms-txt: https://graphadvocate.com/llms.txt
x-agents-index: https://graphadvocate.com/agents/index.json
