openapi: 3.2.0
info:
  title: Graph Advocate Ask API
  version: 1.0.0
  description: Claude-powered routing agent for The Graph Protocol. Send a plain-English onchain data request and receive a ready-to-execute GraphQL query, the right subgraph ID, and an MCP/npm install hint.
  contact:
    name: Graph Advocate
    url: https://graphadvocate.com
servers:
- url: https://graphadvocate.com
tags:
- name: Ask
paths:
  /ask:
    post:
      operationId: askSettlements
      summary: Natural-language Q&A over the x402 Base settlements warehouse
      description: 'Natural-language Q&A over the x402 Base settlements warehouse: 132M EIP-3009 settlement rows on R2 plus pre-aggregated daily_stats, answered as JSON with the SQL trace.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                type: object
        '402':
          description: Payment required
          content:
            application/json:
              schema:
                type: object
      x-payment-info:
        protocols:
        - x402: {}
        price:
          mode: fixed
          currency: USD
          amount: '0.05'
      tags:
      - Ask
externalDocs:
  description: LLM-readable docs (llmstxt.org convention)
  url: https://graphadvocate.com/llms.txt
x-discovery:
  ownershipProofs: []
  agent:
    name: Graph Advocate
    ens: graphadvocate.eth
    erc8004: 'Agent #734 on Arbitrum'
    wallet: '0x0FF5A6ecef783BBA35463ec2F8403B9B5e9e7C86'
    llms_txt: https://graphadvocate.com/llms.txt
    capabilities: https://graphadvocate.com/agents/capabilities.json
x-llms-txt: https://graphadvocate.com/llms.txt
x-agents-index: https://graphadvocate.com/agents/index.json
